:root {
	--text-grey-100: #bbb;
	--text-grey-200: hsla(0, 0%, 71%, 0.913);
	--text-grey-300: rgba(42, 41, 41, 0.555);

	--text-white: #ccc;
	--text-dark: #333;
	--text-clr-main: hsla(0, 0%, 80%, 0.9);
	--text-clr-variant: #08deb6;
	--text-clr-variant-200: #00bd8e;
	--clr-variant-300: #06a680;

	--bg-nav-links: #222;
	--bg-body: #181818;
	--bg-button: #f9dce3;
	--bg-variant: #333;

	--clr-icons: #a8b2d1;
}
