// Border-Radius
$br-light: 8px;
$br-regular: 1em;
$br-btn: 100vmax;
$br-round: 50%;

// Transition
$transition: 0.2s linear;
$transition-200: all 0.4s linear;

// Backdrop-Filter
$backdrop: blur(1em);

// Padding
$pad-50: 0.2rem;
$pad-100: 0.35rem;
$pad-150: 0.6rem;
$pad-200: 0.8rem;
$pad-300: 1rem;
$pad-400: 1.2rem;
$pad-500: 1.5rem;
$pad-500: 2rem;
$pad-600: 2.5rem;
$pad-700: 3rem;
$pad-800: 4rem;

// Stacking
$z-index-100: 10;
$z-index-200: 20;
$z-index-300: 30;
$z-index-400: 40;
$z-index-overlay: 100;

// Letter-spacing 
$ls-100: 1px;
$ls-200: 3px;

// Text Shadow 
$ts-100: 0px 2px 1px rgba(black, 0.8);
$ts-200: 2px 3px 5px rgba(black, 0.8);
$ts-300: 3px 3px 4px rgba(black, 0.8),
  -1px -1px 4px rgba(white, 0.3);

// Box-Shadow
$bs-100: 0px 2px 10px 2px rgba(black, 0.3);
$bs-200: 3px 3px 10px 3px rgba(black, 0.4);
$bs-300: 1px 2px 6px rgba(0, 0, 0, 0.3),
  inset -2px -2px 1px rgba(0, 0, 0, 0.2),
  inset 0px 0px 5px rgba(0, 0, 0, 0.3);
$bs-ridge: inset 3px 3px rgba(black, 0.6),
  inset -1px -1px rgba(white, 0.2);

$active-shadow: inset 2px 2px 4px rgba(black, 0.5),
  inset 0px -1px 3px rgba(white, 0.1);
$bs-input-field-100: inset 3px 3px 6px rgba(black, 0.5),
  inset -2px -2px 10px rgba(#111, 0.5), 2px 2px 10px rgba(black, 0.5);
$bs-input-field-200: inset 2px 2px 6px rgba(black, 0.3),
  inset -4px -4px 10px rgba(#111, 0.5), inset -1px -1px rgba(white, 0.2);
$bs-navbar: 4px 4px 10px rgba(black, 0.2),
  inset -10px -10px 20px rgba(black, 0.5),