@use '../abstracts/' as *;
@use '../components/modal' as *;

main {
  width: 100%;
  padding-inline: 4%;
  margin: auto;
  position: relative;
  z-index: $z-index-100;

  &::before {
    content: '';
    position: absolute;
    top: -0.6em;
    left: 0;
    background: linear-gradient(to top, var(--bg-body), transparent);
    width: 100%;
    height: 30px;
    z-index: $z-index-100;
  }

  section {
    padding-block: 3em;
    margin-inline: auto;
  }

  .placeholder-img {
    width: min(300px, 100%);
    height: 300px;
    margin: auto;
    display: flex;
  }
}

@mixin gallery-content() {
  .gallery-container {
    .gallery-content {
      grid-template-columns: 1fr;

      .gallery-2 {
        display: none;
      }
    }
  }
}

@mixin base-laptop() {
  main {
    padding-inline: 8%;

    section {
      &.gallery-container {
        .gallery-content {
          width: 80%;
        }
      }

      &.news-letter {
        width: 90%;
        margin: 3em auto 2em;
      }
    }

    .placeholder-img {
      width: 350px;
      height: 350px;

    }
  }
}