@use "../abstracts/" as *;

.modal-open {
  width: 100vw;
  height: 100vh;
  background: rgba(black, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  transition: $transition;

  .modal-img-box {
    width: 80%;
    max-width: 600px;
    height: 70%;
    margin: 0 auto;
    border-radius: $br-light;
  }

  .close-modal {
    @include close-overlay();
  }
}