@use "../abstracts/" as *;

header {
  @include flex-row();
  gap: 2em;

  width: 100%;
  padding: $pad-200 $pad-300;
  position: fixed;
  top: 0;
  backdrop-filter: $backdrop;
  -webkit-backdrop-filter: $backdrop;
  z-index: $z-index-300;
  box-shadow: $bs-100;

  .logo {
    @include flex-row();
    gap: $pad-150;
    margin-right: auto;

    .logo-img {
      width: 5em;
      display: none;
    }

    .menu {
      display: grid;
    }

  }

  .nav-links {
    display: none;

    a {
      @include flex-row();
      gap: $pad-100;
      text-shadow: 0px 1px rgba(black, 0.8);

      .index {
        color: var(--text-clr-variant-200);
      }

      .link-title {
        text-transform: uppercase;
        font-size: $fs-nav-links;
        font-weight: $fw-bold;
        letter-spacing: $ls-100;
        transition: $transition;
      }

      .icon {
        margin-top: -2px;
      }

      &:hover .link-title {
        scale: 1.1;
        color: var(--text-clr-variant-200);
      }

      &.active span {
        color: var(--text-clr-variant-200);
        letter-spacing: 2px;
      }
    }
  }

  .resume-btn {
    padding: 5px 8px;

    &:hover {
      padding: 5px 12px;
      border-color: var(--text-clr-variant-200)
    }

    &:active {
      transform: translateY(4px);
    }
  }
}


@mixin header-laptop() {
  header {
    padding: $pad-200 $pad-400;

    .logo {
      .logo-img {
        display: block;
      }

      .menu {
        display: none;
      }
    }

    .nav-links {
      @include flex-row();
      gap: $pad-400;
    }

    .resume-btn {
      padding: 0.4em;

      &:hover {
        padding: 0.4em $pad-200;
      }
    }

  }
}