@use '../abstracts/' as *;


.sidebar {
  display: none;
  width: 40px;
  height: 60%;

  position: fixed;
  bottom: 0;
  z-index: $z-index-300;
  writing-mode: vertical-lr;
  align-items: center;
  justify-content: end;
  gap: $pad-300;

  &.left {
    left: $pad-300;
  }

  &.right {
    right: $pad-300;
  }

  a {
    color: var(--text-clr-variant-300);
    letter-spacing: $ls-200;
  }

  .line {
    width: 2px;
    height: 10vh;
    box-shadow: $bs-100;
    background: var(--clr-icons);
  }

  .social-links {
    @include flex-row();
    height: 100%;
    -webkit-box-align: center;
    justify-content: space-around;

    li {
      width: $pad-400;
      height: $pad-400;

      a {
        width: 100%;
        height: 100%;
        display: grid;

        &:hover * {
          color: var(--text-clr-variant-200);

        }

      }
    }
  }
}

@mixin sidebar-laptop() {
  .sidebar {
    display: flex;
  }
}